           .my-form {
box-shadow: 8px 8px 8px rgb(0 73 255 / 10%);
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin-left: 20px;
}
form {
box-shadow: 8px 8px 8px rgb(0 73 255 / 10%);
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin-left: 20px;
}

form div {
  margin-bottom: 10px;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
.tabs button {
    
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tabs button:hover {
  background-color: #45a049;
}
    .custom-checkbox {
        width: 60px;;
        accent-color: #4CAF50; /* Change the color to your desired green color */
        transform: scale(3); /* Adjust the scale value to make the checkbox larger or smaller */
}
        .tabs {
            position: relative;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            background: #fff;
            box-shadow: 8px 8px 8px rgb(0 73 255 / 10%);
            border-radius: 8px;
            overflow: hidden;
            padding-left: 20px;
        }

        .tabs input[type="radio"] {
            display: none;
        }

        .tabs ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            padding: 0;
            background: #f2f2f2;
            border-radius: 8px 8px 0 0;
        }

        .tabs ul li {
            flex: 1;
            text-align: center;
        }

        .tabs ul li label {
            display: block;
            padding: 20px;
            cursor: pointer;
            font-size: 1.2em;
            font-weight: bold;
            transition: background 0.3s ease, color 0.3s ease;
        }

        #tab1:checked ~ ul li:first-child label,
        #tab2:checked ~ ul li:last-child label {
            background: #4CAF50;
            color: white;
        }

        .tabs .slider {

            bottom: 0;
            left: 0;
            width: 50%;
            height: 10px;
            background: #4CAF50;
            transition: transform 0.3s ease;
        }

        #tab1:checked ~ .slider {
            transform: translateX(0);
        }

        #tab2:checked ~ .slider {
            transform: translateX(100%);
        }

        .tabs .content {
            position: relative;
            overflow: hidden;
        }

        .tabs .content section {
            display: none;
            padding: 20px;
            background: #fff;
            border-radius: 0 0 8px 8px;
            opacity: 0;
            width: 75%;
            top: 0;
            left: 0;
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        #tab1:checked ~ .content #products {
            display: block;
            opacity: 1;
            transform: translateX(0);
            z-index: 1;
        }

        #tab2:checked ~ .content #services {
            display: block;
            opacity: 1;
            transform: translateX(0);
            z-index: 1;
        }

        #tab1:checked ~ .content #services {
            transform: translateX(100%);
            z-index: 0;
        }

        #tab2:checked ~ .content #products {
            transform: translateX(-100%);
            z-index: 0;
        }
.tabs hr {
  border: none;
  height: 1px;
  background-color: #4CAF50;
  margin: 25px 0;
  margin-bottom: 30px;
}
@media screen and (max-width: 860px) {
    .container {
        flex-direction: column-reverse;
                          }
    .tabs {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        padding-right: 0;
        box-shadow: none;
        border-radius: 0;
  }

  .tabs ul li label {
        font-size: 1em;
        padding: 10px;
  }

  .tabs .content section {
        padding: 10px;
  }
   form {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
  }
   .custom-checkbox {
    position: relative;
    left: 0;
    margin-left: 15px;
    margin-top: 10px;
  }
}

.rating {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
}
.star {
     
        font-size: 45px;
        cursor: pointer;
        color: gray;
    }
.star.active {
        color: gold;
    }

.star.selected {
        color: gold;
    }
#reviews {
            background-color: #f9f9f9;
            border: 1px solid #ccc;
        box-shadow: 8px 8px 8px rgb(0 73 255 / 10%);
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin-left: 20px;
    margin-bottom: 20px;
    }
.review h4 {
    text-align: center;
}
.bold {
  font-weight: 700;
  font-size: 2.25rem;
}
#reviews button {
    padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#reviews button:hover {
  background-color: #45a049;
}
button.view-button {
    margin: 5px;
}
button.approve-button {
    margin: 5px;
}
button.deletereview-button {
    margin: 5px;
}
#reviews .buttons {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
}

@media screen and (max-width: 860px) {
    #reviews {
         width: 90%;
        margin: 0 auto;
        padding: 20px;
    }
}